/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
* {
  //box-sizing: border-box;
}

body {
  font-family: 'Fjalla One', sans-serif;
  font-size: 22pt;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #314857 0%, #4d5085 100%);
}

.sync {
    color: #DDD;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}

.main {
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px;
  justify-content: center;
}
.headline {
    color: #DDD;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    margin: 20px auto 1em auto;
    text-align: center;
}

.box{
  width: 600px;
  margin: 10px auto;
}

.wrapper{
  text-align:center;
  margin:20px auto;
}

.container-1{
  width: 420px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-1 input#search{
  width: 600px;
  height: 60px;
  border: none;
  font-size: 1.5em;
  float: left;
  color: #63717f;
  padding-left: 1.5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}

h2 {
  font-size: 1.5 em;
  margin-bottom: 5px;
}

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 400px;
  margin: 5px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #222;
  color: black;
  cursor: pointer;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  border-radius: 0.5em;
}

.flip-card-front img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5em;
}

.flip-card-front .text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    text-align: center;
    border-radius: 0 0 0.5em 0.5em;
}

.wrapper{
  text-align:center;
  margin:50px auto;
}

.tabs{
  margin-top:20px;
  font-size:1.5em;
  padding:0px;
  list-style:none;
  background:#fff;
  box-shadow:0px 5px 20px rgba(0,0,0,0.1);
  display:inline-block;
  border-radius:60px;
  position:relative;
}

.tabs a{
  text-decoration:none;
  color: #777;
  text-transform:uppercase;
  padding:20px 60px;
  display:inline-block;
  position:relative;
  z-index:1;
  transition-duration:0.6s;
}

.tabs a.active{
  color:#fff;
    background: #05abe0;
    background: -moz-linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
    background: -webkit-linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
    background: linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#8200f4',GradientType=1 );
}

.tabs a i{
  margin-right:5px;
}

.tabs .selector{
  height:100%;
  display:inline-block;
  position:absolute;
  left:0px;
  top:0px;
  z-index:1;
  border-radius:50px;
  transition-duration:0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

  background: #05abe0;
  background: -moz-linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
  background: -webkit-linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
  background: linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#8200f4',GradientType=1 );
}
.searchform {
    width: 800px;
    column-count: 2;
    margin: 30px;
    vertical-align: top;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  background: #2b303bf;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
  border-radius: 3px;
  outline: none;
  color: #666;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

select:focus::-ms-value {
  background-color: transparent;
}

.select-wrapper {
  position: relative;
  width: 300px;
  margin:10px auto;
  color: #ddd;
}

.select-wrapper::before {
  color: #fff;
  font-size: 20px;
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 10px;
}

.tagify {
  min-width: 300px;
}
.select-wrapper .tagify {
  font-size: 0.9em;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
button {
    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 0.3em 0.8em;
    font-size: 1em;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    :hover {
        color: #fff;
        background-color: #0b5ed7;
        border-color: #0a58ca;
    }
}
div .padded {
    padding-top: 0.1em
}
.highscores {
    float: left;
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
}

th.songlistHeader {
  background-color: #0d6efd;
  padding: 0.125em 0.25em;
  text-align: left;
}
td, th {
  padding: 0.125em 0.25em;
  text-align: left;
}
tr.songlist:nth-child(odd)  {
  background-color: #FFF;
}
tr.songlist:nth-child(even)  {
  background-color: #EEE;
}

.favorite-icon {
    position: absolute;
    top: 12px;
    right: 12px;
    color: gold;
    font-size: 40px;
    z-index: 10;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;                 
    padding: 4px;                        
}