<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Karaoke List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="/css/tagify.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="/ico/ultrastarCatalog-16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/ico/ultrastarCatalog-32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/ico/ultrastarCatalog-48.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/ico/ultrastarCatalog-192.png">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/75aad18f9f.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <script src="/js/jQuery.tagify.min.js"></script>
    <script src="/js/jQuery.loadScroll.js"></script>
    <script src="/js/transition.js"></script>
    <script>
        document.addEventListener('play', function(e){
            var audios = document.getElementsByTagName('audio');
            for(var i = 0, len = audios.length; i < len;i++){
                if(audios[i] != e.target){
                    audios[i].pause();
                }
            }
        }, true);
        function openModal(songId) {
            $.when(fetchSongInfo(songId)).done(function(modalContent) {
                $('#modalContent').children().first().replaceWith(modalContent);
                var modal = document.getElementById('modalLayer');
                modal.style.display = "block";
                var button = $(modalContent).find('#pl' + songId).html();
                $('#buttonContent').children().first().replaceWith(button);
            });
        }
        function closeModal() {
            var modal = document.getElementById('modalLayer');
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            var modal = document.getElementById('modalLayer');
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        function add2Playlist(songId) {
            var playlistName = document.getElementById('add2playlist').value;
            $.ajax({
                url: '/playlist/' + playlistName + '/' + songId,
                type: 'PUT',
                success: function(response){
                    alert('Playlist saved');
                },
                complete: function(){
                    setTimeout(ajax,1000);
                }
            });
        }
        function fetchSongInfo(songId) {
            return $.ajax({
                url: '/songinfo/' + songId
                });
        }
        function toggleFavorite(event, icon) {
            event.stopPropagation(); 
        
            const card = icon.closest(".flip-card-inner");
            const songId = card.getAttribute("data-songid");
        
            let favorites = JSON.parse(localStorage.getItem("favorites")) || [];
        
            const index = favorites.indexOf(songId);
        
            if (index === -1) {
              favorites.push(songId);
              icon.classList.remove("fa-regular");
              icon.classList.add("fa-solid");
            } else {
              favorites.splice(index, 1);
              icon.classList.remove("fa-solid");
              icon.classList.add("fa-regular");
            }
        
            localStorage.setItem("favorites", JSON.stringify(favorites));
          }
        
        document.addEventListener("DOMContentLoaded", function () {
            const favorites = JSON.parse(localStorage.getItem("favorites")) || [];
            document.querySelectorAll(".flip-card-inner").forEach(card => {
                const songId = card.getAttribute("data-songid");
                const icon = card.querySelector(".favorite-icon");
                
                if (favorites.includes(songId)) {
                    icon.classList.remove("fa-regular");
                    icon.classList.add("fa-solid");
                }
            });
        });
        function submitFavorites(view) {
            const favorites = localStorage.getItem("favorites") || "[]";
            document.getElementById("favorites-input").value = favorites;
            document.getElementById("favorites-view").value = view;
            document.getElementById("favorites-form").submit();
        }
    </script>
</head>
<body>
    <div class="main">
    <form method="GET">
        <input type="hidden" th:if="${view} == 'list'" name="view" value="list">
        <div class="box" th:unless="${favoritesActive}">
            <div class="container-1">
                <span class="icon"><i class="fa fa-search"></i></span>
                <input type="search" id="search" name="searchterm" th:placeholder="${search}" th:value="${searchterm}"/>
            </div>
        </div>

        <div class="searchform" th:unless="${favoritesActive}">
            <div class="select-wrapper">
                <label for="language">Language</label>
                <select name="language" id="language" class="select-language" placeholder="Language">
                    <option th:each="temp : ${languages}" th:value="${temp.languageCode}" th:text="${temp.displayLanguage}"
                            th:selected="${temp.languageCode} == ${selectedLanguage.languageCode}"></option>
                </select>
            </div>
            <div class="select-wrapper">
                <label for="decade">Decade</label>
                <select name="decade" id="decade" class="select-language" placeholder="Decade">
                    <option th:each="temp : ${decades}" th:value="${temp.displayName}" th:text="${temp.displayName}"
                            th:selected="${temp.displayName} == ${selectedDecade.displayName}"></option>
                </select>
            </div>
            <div class="select-wrapper" th:unless="${playlists.keySet().isEmpty()}">
                <label for="playlist">Playlists</label>
                <select name="playlist" id="playlist" class="select-language" placeholder="Playlists">
                    <option></option>
                    <option th:each="entry : ${playlists.entrySet()}" th:value="${entry.key}" th:text="${entry.value.name}"
                            th:selected="${entry.key} == ${selectedPlaylist}"></option>
                </select>
            </div>
            <div class="select-wrapper" style="break-before:column">
                <label for="decade">Tags</label>
                <input name="tags" placeholder="write some tags" th:value="${filteredTags}">
            </div>
        </div>
        <div class="box" style="text-align: center" th:unless="${favoritesActive}">
            <button onclick="this.form.submit()" class="search">Search</button>
        </div>
        <script th:inline="javascript">
            /*<![CDATA[*/
            var whitelist = /*[[${tagsWhitelist}]]*/ [];
            var tagInput = $('[name=tags]').tagify({
                "duplicates":false,
                "whitelist": whitelist,
                "enforceWhitelist":true,
                "editable":false,
                "originalInputValueFormat": valuesArr => valuesArr.map(item => item.value).join(',')
            });
            tagInput.addEventListener('change', onChange);
            function onChange(e){
              // outputs a String
              console.log(e.target.value)
            }
            /*]]>*/
        </script>
    </form>
</div>
<div class="wrapper">
    <nav class="tabs">
        <div class="selector"></div>
        <a th:href="@{${artistLink}}" class="" th:classappend="${artistsActive} ? active : ''"><i class="fa fa-guitar"></i>Artists</a>
        <a href="/title" class="" th:classappend="${titlesActive} ? active : ''"><i class="fa fa-music"></i>Title</a>
        <a href="/"><i class="fa fa-tag"></i>Tags</a>
        <a href="#"  th:classappend="${favoritesActive} ? active : ''" onclick="submitFavorites('')" id="favorites-link"><i class="fa fa-star"></i>Favorites</a>
    </nav>
</div>
<form id="favorites-form" action="/favorites" method="post" style="display: none;">
    <input type="hidden" name="favoritesJson" id="favorites-input">
    <input type="hidden" name="view" id="favorites-view">
</form>    
<button style="float: right; margin-right: 20px; margin-bottom:1em;" th:attr="onclick=${listLink}">
    <i th:unless="${view} == 'list'" class="fa fa-list"></i>
    <i th:if="${view} == 'list'" class="fa fa-th-large"></i>
</button>

<div th:unless="${songs.empty}">
    <div class="headline">
        <span th:text="${songs.size()}">n</span> songs found.
    </div>
</div>
<div class="main">
    <div th:if="${songs.empty}">
        <span> No Songs Available </span>
    </div>
    <div th:unless="${view} == 'list'" class="flip-card" th:each="song : ${songs}">
        <div class="flip-card-inner" th:data-songid="${song.uid}" onclick="openModal(this.getAttribute('data-songid'))">
            <i class="fa-regular fa-star favorite-icon" onclick="toggleFavorite(event, this)"></i>
            <div class="flip-card-front">
                <img th:src="@{/images/} + ${song.uid} + '.jpg'" loading="lazy"/>
                <div class="text">
                    <h2 th:text=" ${song.artist}">Artist</h2>
                    <p th:text="${song.titleAndVariant}">Title</p>
                </div>
            </div>
        </div>
    </div>
    <table th:if="${view} == 'list'" th:unless="${songs.empty}" class="songlist">
        <thead>
        <tr>
            <th th:if="${artistsActive}" class="songlistHeader">Artist</th>
            <th class="songlistHeader">Title</th>
            <th th:unless="${artistsActive}" class="songlistHeader">Artist</th>
            <th class="songlistHeader">Language</th>
            <th class="songlistHeader">Year</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${view} == 'list'" th:each="song : ${songs}" class="songlist">
            <td th:if="${artistsActive}" th:text=" ${song.artist}">Artist</td>
            <td th:text=" ${song.titleAndVariant}">Title</td>
            <td th:unless="${artistsActive}" th:text=" ${song.artist}">Artist</td>
            <td th:text=" ${song.language}">Language</td>
            <td th:text=" ${song.year}">Year</td>
        </tr>
    </table>
    <div id="modalLayer" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal();">&times;</span>
            <div id="modalContent"><span>Song-Info</span></div>
            <div class="padded" th:unless="${playlists.empty}">
                <p>Manage Playlist</p>
                <select name="add2playlist" id="add2playlist" class="select-language" placeholder="Playlists">
                    <option value="">Select Playlist</option>
                    <option th:each="entry : ${playlists.entrySet()}" th:value="${entry.key}" th:text="${entry.value.name}"
                            th:selected="${entry.key} == ${selectedPlaylist}"></option>
                </select>
            </div>
            <div id="buttonContent" class="padded" th:unless="${playlists.empty}"><button></button></div>
        </div>
    </div>
</div>
</body>
</html>